.body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom,#240C44, #9875C5);
}

.signup-box {
    background: linear-gradient(to bottom,#8C68C6, #CEB1FE);
    backdrop-filter: blur(10px);
    border-radius:20px;
    width: 100%;

    max-width: 600px;
}
.password-toggle {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; /* Change cursor to pointer */
    font-size: 20px; /* Adjust size as needed */
    color: #fff; /* Change color to match your design */
}
.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff; /* add a thin white bottom border */
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}
.form-control:focus {
    background-color: transparent; /* keep the background transparent when focused */
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #fff;
}
.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary {
    background-color: #9C6FE4; /* a nice green color */
  
}
.btn-primary:hover {
    background-color:#9C6FE4; /* keep the same color as the original */
   
    color: #fff; /* keep the text color white on hover */
    box-shadow: none; /* remove the default box shadow on hover */
}
#welcome-text {
    font-family: 'Inknut Antiqua', serif;
    font-size: 70px; /* adjust the font size as needed */
    font-weight:700;
   
}
.text-center {
    margin: 20px 40px; /* adjust the margin values as needed */
}
.responsive-image {
    width: 500px; /* adjust the width as needed */
    height: 400px; /* adjust the height as needed */
    object-fit: cover; /* optional, to maintain aspect ratio */
}